@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --purple-700: hsl(257, 40%, 49%);
    --magenta-400: hsl(300, 69%, 71%);

    /* Neutral Colors (projede arka plan için sadece beyaz görünüyor) */
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --font-heading: "Poppins", sans-serif;
    --font-body: "Open Sans", sans-serif;

    /* Font Sizes */
    --fs-heading-desktop: 40px;
    --fs-heading-mobile: 24px;

    --fs-body-desktop: 18px;
    --fs-body-mobile: 15px;

    /* Font Weights */
    --fw-regular: 400;
    --fw-semibold: 600;
}


body {
    font-family: var(--font-body);
    font-size: var(--fs-body-desktop);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: cover;
    background-color: var(--purple-700);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
}

.heading {
    margin-bottom: 40px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    width: 100%;
}



.hero-title {
    font-size: var(--fs-heading-desktop);
    color: var(--white);
}

.hero-discription {
    font-size: var(--fs-body-desktop);
    color: var(--white);
    font-weight: var(--fw-regular);
    margin-top: 20px;
}

.btn-register {
    display: inline-block;
    padding: 10px 60px;
    border-radius: 50px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--purple-700);
    font-weight: var(--fw-regular);
    margin-top: 20px;
    transition: .2s ease;
}

.btn-register:hover {
    background: var(--magenta-400);
    color: var(--white);
}

@media (max-width: 768px) {

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .hero-text {
        text-align: center;
    }

    .hero-title {
        font-size: var(--fs-heading-mobile);
    }

    .hero-discription {
        font-size: var(--fs-body-mobile);
        line-height: 1.5;
    }

    .btn-register {
        font-size: var(--fs-body-mobile);
        margin-top: 25px;
        padding: 10px 70px;
    }

    .hero-img {
        width: 300px;
        object-fit: cover;
    }

    .container {
        max-width: 800px;
        padding: 30px;
    }

    .logo-img {
        width: 150px;
    }



}