@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans:wght@400&display=swap');

html {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* Font Sizes (rem tabanlı - px karşılığı değişmedi) */
  --fs-heading-desktop: 4rem; /* 40px */
  --fs-heading-mobile: 2.4rem; /* 24px */

  --fs-body-desktop: 1.8rem; /* 18px */
  --fs-body-mobile: 1.5rem; /* 15px */

  /* Font Weights */
  --fw-regular: 400;
  --fw-semibold: 600;
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-body-desktop);
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: var(--purple-700);
}

.container {
  max-width: 140rem; 
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding: 4rem; 
}

.heading {
  margin-bottom: 4rem; 
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem; 
  width: 100%;
}

.hero_title {
  font-size: var(--fs-heading-desktop);
  color: var(--white);
}

.hero_description {
  font-size: var(--fs-body-desktop);
  color: var(--white);
  font-weight: var(--fw-regular);
  margin-top: 2rem; 
}

.btn_register {
  display: inline-block;
  padding: 1rem 6rem; 
  border-radius: 5rem; 
  background-color: var(--white);
  text-decoration: none;
  color: var(--purple-700);
  font-weight: var(--fw-regular);
  margin-top: 2rem; 
  transition: .2s ease;
}

.btn_register:hover {
  background: var(--magenta-400);
  color: var(--white);
}

@media (max-width: 768px) { 

  body {
    background-image: url(images/bg-mobile.svg);
    background-size: contain;
  }

  .heading {
    margin-bottom: 6rem; 
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem; 
  }

  .hero_text {
    text-align: center;
  }

  .hero_title {
    font-size: var(--fs-heading-mobile);
  }

  .hero_description {
    font-size: var(--fs-body-mobile);
    line-height: 1.5;
  }

  .btn_register {
    font-size: var(--fs-body-mobile);
    margin-top: 2.5rem; 
    padding: 1rem 7rem; 
  }

  .hero-img {
    max-width: 50rem; 
    width: 100%;
    object-fit: cover;
  }

  .container {
    max-width: 80rem; 
    padding: 3rem; 
  }

  .logo-img {
    max-width: 15rem; 
  }
}
